{% extends 'accounts/base.html' %}

{% block body %}

 <section>

  <div class="carousel"
  data-flickity='{"freeScroll": true, "wrapAround": true, "imagesLoaded": true, "percentPosition": false, "autoPlay": 3000,
"pauseAutoPlayOnHover": true }'>
  <img src="https://i.ibb.co/0r9b18n/p.jpg" alt="p" />
  <img src="https://i.ibb.co/SN4bBp5/cats.jpg" alt="cats" />
  <img src="https://i.ibb.co/RHbKFBw/tequila1.jpg" alt="tequila1" />
  <img src="https://i.ibb.co/10Gjjb2/small.jpg" alt="small"/>
  <img src="https://i.ibb.co/ZLC6H1D/tequila2.jpg" alt="tequila2" />
  <img src="https://i.ibb.co/b5GH75R/tequila3.jpg" alt="tequila3" />

</div>

 </section>


<section class="ftco-section testimony-section bg-light">
  <!-- <div class="overlay" style="background-image: url(images/bg_2.jpg);"></div> -->
  <div class="container">
   <div class="row pb-4">
     <div class="col-md-7 heading-section ftco-animate">
      <!-- <span class="subheading">About Us</span> -->
      <h2 class="mb-4">Saving lives. Enriching yours.</h2>
    </div>
  </div>
 </div>
</section>

<p class="mb-0" style="text-align: center;"><a href="/profiles/" class="btn btn-primary px-4 py-3">Discover Profiles</a></p>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(../../static/accounts/images/animal_images/shelter.jpg);">
 <div class="overlay"></div>
 <div class="container">
  <div class="row">
   <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
     <div class="block-18 d-flex align-items-center">
      <div class="icon"><span class="flaticon-animal"></span></div>
      <div class="text">
       <strong class="number" data-number="40">0</strong>
       <span>Animals not adopted</span>
     </div>
   </div>
 </div>
 <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
   <div class="block-18 d-flex align-items-center">
    <div class="icon"><span class="flaticon-animal-shelter"></span></div>
    <div class="text">
     <strong class="number" data-number="28">0</strong>
     <span>Shelters</span>
   </div>
 </div>
</div>
<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
 <div class="block-18 d-flex align-items-center">
  <div class="icon"><span class="flaticon-pets"></span></div>
  <div class="text">
   <strong class="number" data-number="1200">0</strong>
   <span>Pet Listings</span>
 </div>
</div>
</div>
<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
 <div class="block-18 d-flex align-items-center">
  <div class="icon"><span class="flaticon-user-profile"></span></div>
  <div class="text">
   <strong class="number" data-number="783">0</strong>
   <span>Users</span>
 </div>
</div>
</div>
</div>
</div>
</section>


{% endblock %}