{% extends 'accounts/base.html' %}

{% block body %}

 <section class="hero-wrap hero-wrap-2">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="/view_pets">Pets <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="/../profile/{{ pet.shelterRegisterData.user }}">{{ pet.shelterRegisterData }} <i class="fa fa-chevron-right"></i></a></span></p>
       <h1 class="mb-0 bread">{{pet.pet_name}} Details</h1>
     </div>
   </div>
 </div>
</section>

<div class="row1">
    <div class="col1">
        <div class="text-box1">

            <h1><b>{{pet.pet_name}}</b></h1>
            <br>
            {% if not user.is_authenticated %}
             <p class="mb-0"><a href="/login" class="btn-adoption">ADOPT ME</a></p>
            {% else %}
                {% if pet.pet_adoption_status %}
                <p class="mb-0"><a class="btn-adoption">{{pet.pet_name}} Was Adopted</a></p>
                {% else %}
                    {% if pet.pet_pending_status %}
                    <p class="mb-0"><a href="{% url 'accounts:adopt_pending' pet.id %}" class="btn-adoption">ADOPTION PENDING</a></p>
                    {% else %}
                    <p class="mb-0"><a href="{% url 'accounts:adopt_pending' pet.id %}" class="btn-adoption">ADOPT ME</a></p>
                    {% endif %}
                {% endif %}
            {% endif %}
            <br>
            <h5>Breed: <span class = "h6">{{pet.pet_breed}}</span></h5>
            <h5>Age: <span class = "h6">{{pet.pet_age}}</span></h5>
            <h5>Gender: <span class = "h6">{{pet.pet_gender}}</span></h5>
            <h5>Color: <span class = "h6">{{pet.pet_color}}</span></h5>
            <h5>Bio: </h5>

        </div>
    </div>
    <div class="col1">
        <div class="gallery-box1">

            <img src="{{ pet.pet_profile_image1.url }}" id="gallery">
            <ul>
                <li class="button active">01</li>
                <li class="button">02</li>
                <li class="button">03</li>
            </ul>
            <br>
            <br>
            {% if user.is_authenticated %}
            <h6><b><a href="{% url 'accounts:newconversation' pet.shelterRegisterData %}">Message {{ pet.shelterRegisterData }} to adopt! <i class="fas fa-paper-plane"></i></a></b></h6>
            {% else %}
            <h6><a href="/login">Send A Message!<i class="fas fa-paper-plane"></i></a></h6>
            {% endif %}

            <div id="favorite-section">
                {% if user.is_clientuser %}
                    {% if is_favorite %}
                    <a href="{% url 'accounts:favorite_pet' pet.id %}">
                        <h6><br><b>Add to favorites</b> <i class="fas fa-heart"></i></h6>
                    </a>
                    {% else %}
                    <a href="{% url 'accounts:favorite_pet' pet.id %}">
                        <h6><br><b>Add to favorites</b> <i class="far fa-heart"></i></h6>
                    </a>
                {% endif %}
                {% endif %}
            </div>
            </form>
        </div>
    </div>
</div>

<script>
var button = document.getElementsByClassName("button");
var gallery = document.getElementById("gallery");
var images = new Array(
    "{{pet.pet_profile_image1.url}}",
    "{{pet.pet_profile_image2.url}}",
    "{{pet.pet_profile_image3.url}}"
    );

for (let i=0; i < button.length; i++){
    button[i].onclick = function(){
        gallery.src = images[i];
        let current=document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
    };
}
</script>

{% endblock %}
