<!--{% extends 'accounts/base.html' %}-->

<!--{% block body %}-->

<!--<div class="container1">-->
<!--    <h1 class="title1">What are you searching for?</h1>-->
<!--    <div class="form-group1">-->
<!--        <div class="dropdown2">-->
<!--            <div class="default-option">Pets</div>-->
<!--            <div class="dropdown-list">-->
<!--                <ul>-->
<!--                    <li>Shelter & Users</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="search">-->
<!--            <input type="text" class="search-input" placeholder="Search for Pets">-->
<!--        </div>-->
<!--        <button class="btn1" type="submit"><i class="fas fa-search"></i></button>-->
<!--    </div>-->
<!--</div>-->

<!--{% endblock %}-->

<!--<script>-->
<!--    $(document).ready(function(){-->
<!--        $(".dropdown2").click(function(){-->
<!--            $(".dropdown-list ul").toggleClass("active");-->
<!--        })-->
<!--    })-->
<!--</script>-->