{% extends 'accounts/base.html' %}

{% block body %}

<section>
 <div>
  <h1><center>Pet Matcher</center></h1>
 </div>
</section>

<div class="container">
        <div id="demo" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1" ></li>
      <li data-target="#demo" data-slide-to="2" ></li>
    </ul>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
<!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                  <div class="card" style="width: 18rem;">-->
<!--                    <img src="..." class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                      <h5 class="card-title">Card title</h5>-->
<!--                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--                        card's content.</p>-->
<!--                      <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                  <div class="card" style="width: 18rem;">-->
<!--                    <img src="..." class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                      <h5 class="card-title">Card title</h5>-->
<!--                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--                        card's content.</p>-->
<!--                      <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-xs-3 col-sm-3 col-md-3">-->
<!--                  <div class="card" style="width: 18rem;">-->
<!--                    <img src="..." class="card-img-top" alt="...">-->
<!--                    <div class="card-body">-->
<!--                      <h5 class="card-title">Card title</h5>-->
<!--                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
<!--                        card's content.</p>-->
<!--                      <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
                <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="carousel-item">
              <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="carousel-item">

              <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <a class="carousel-control-prev " href="#demo" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

<!-- <section>-->

<!--  <div class="carousel"-->
<!--  data-flickity='{"freeScroll": true, "wrapAround": true, "imagesLoaded": true, "percentPosition": false,-->
<!--"pauseAutoPlayOnHover": true }'>-->
<!--&lt;!&ndash;   <a href=" /../pets/{{ pets.id }}">&ndash;&gt;-->
<!--  <a href=" /../pets/{{ pets.id }}">-->
<!--                    <div class="img-wrap d-flex align-items-stretch">-->

<!--                        <div class="img align-self-stretch" style="background-image: url({{pets.pet_image_url}}); height: 250px; width: 250px"></div>-->
<!--                    </div></a>-->
<!--&lt;!&ndash;      <img src="https://i.ibb.co/0r9b18n/p.jpg" alt="p" />&ndash;&gt;-->
<!--&lt;!&ndash;  <img src="https://i.ibb.co/SN4bBp5/cats.jpg" alt="cats" />&ndash;&gt;-->
<!--&lt;!&ndash;  <img src="https://i.ibb.co/RHbKFBw/tequila1.jpg" alt="tequila1" />&ndash;&gt;-->
<!--&lt;!&ndash;  <img src="https://i.ibb.co/10Gjjb2/small.jpg" alt="small"/>&ndash;&gt;-->
<!--&lt;!&ndash;  <img src="https://i.ibb.co/ZLC6H1D/tequila2.jpg" alt="tequila2" />&ndash;&gt;-->
<!--&lt;!&ndash;  <img src="https://i.ibb.co/b5GH75R/tequila3.jpg" alt="tequila3" />&ndash;&gt;-->

<!--</div>-->

<!-- </section>-->





{% endblock %}