{% extends 'accounts/base.html' %}

{% block body %}

<style>

.paginationcustom {
    display: flex;
    padding-left: 0px;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
}
</style>

<section class="hero-wrap hero-wrap-2">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
<!--					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Pets<i class="fa fa-chevron-right"></i></span></p>-->
					<h1 class="mb-0 bread">Pets Available For Adoption</h1>
				</div>
			</div>
		</div>
	</section>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}



<section class="ftco-section bg-light">

  <div class="container">
    <div class="row">

        <div class="sidebar-box ftco-animate" style="background-color: teal; border-radius: 25px; color: aliceblue;">
            {% load crispy_forms_tags %}
            <form method="GET" class="search-form">
            <div class="form-group">

              {{ filter.form }}
              <button type="submit" class="btn" style="margin-left: 50px; background-color: #103e39; color: white;">Filter</button>
            </div>
          </form>
        </div>
      </div>

<!--      <h3 class="heading-sidebar" style="text-align:center"><b>Pets Available for Adoption</b></h3>-->

    <!-- <div class="container"> -->
        <nav aria-label="Page navigation">
            <ul class="paginationcustom">
                <li class="page-item">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
                    {% endif %}
                </li>
                <li class="page-item">
                    <a class="page-link">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
                </li>
                <li class="page-item">
                    {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                    {% endif %}
                </li>
            </ul>
        </nav>


       <div class="row">
        {% if page_obj %}
        {% for pets in page_obj %}
            <div class="col-md-6 col-lg-3 ftco-animate d-flex align-items-stretch">
                <div class="staff">
                    <a href=" /../pets/{{ pets.id }}">
                    <div class="img-wrap d-flex align-items-stretch">

                        <div class="img align-self-stretch" style="background-image: url({{pets.pet_image_url}}); height: 250px; width: 250px"></div>
                    </div></a>
                    <div class="text pt-3">
                        <h3><a href=" /../pets/{{ pets.id }}">{{pets.pet_name}}</a></h3>
                        <span class="position mb-2">{{pets.pet_breed}}</span>
                        <div class="faded">
                            <p>Age: {{pets.pet_age}}</p>
                            <p>Sex: {{pets.pet_gender}}</p>
                            <p>Color: {{pets.pet_color}}</p>
                            <p>Shelter:<a href=" /../profile/{{ pets.shelterRegisterData }}"> {{pets.shelterRegisterData}}</a></p>
                        </div>
                        <ul class="ftco-social text-center">
                            {% if user.is_authenticated %}
                            <b><li class="ftco-animate"><a href="/send/new/{{ pets.shelterRegisterData }}">Inquire More! <i class="fas fa-paper-plane"></i></li></b>
                            {% else %}
                            <b><li class="ftco-animate"><a href="/login">Inquire More! <i class="fas fa-paper-plane"></i></li></b>
                            {% endif %}
                            </ul>

                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}

        </div>

        <nav aria-label="Page navigation">
            <ul class="paginationcustom">
                <li class="page-item">
                    {% if page_obj.has_previous %}
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a>
                    {% endif %}
                </li>
                <li class="page-item">
                    <a class="page-link">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
                </li>
                <li class="page-item">
                    {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                    {% endif %}
                </li>
            </ul>
        </nav>


    </div>
</section>



{% endblock %}
