*{
    box-sizing: border-box
}

body{
    padding: 0px;
    margin: 0px;
    background: #f9faff;
    font-family: 'Lora', serif;
}


header{
    background: #f9faff;
    height: 73px;
}

header *{
    color: #1c2a38;
}

header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}

header .logo-text{
    margin: 7px;
    font-family:'Grandstander',cursive;
}
header .logo-text span{
    color: #89c1af;
}

header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li{
    float: left;
    position: relative;
}

header ul li ul{
    position: absolute;
    top: 66px;
    right: 0px;
    width: 180px;
    display: none;
}

header ul li:hover ul {
    display: block;
}
header ul li ul li{
    z-index: 999;
    width: 100%;
}

header ul li ul li a{
    padding: 10px;
    background: white;
    color: #444;
}


header ul li ul li a:hover {

}
header ul li a{
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover{

    text-decoration: underline;
}