{% extends 'accounts/base.html' %}

{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAP TEST</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
</head>

 <section class="hero-wrap hero-wrap-2">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
          <h1>Shelter Locations </h1>
     </div>
   </div>
 </div>
</section>
    <div id='map' style='width: 1000px; height: 600px;'></div>
    <script>
    mapboxgl.accessToken = '{{mapbox_access_token}}';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
        center: [-73.935242, 40.730610],
    zoom: 9.5
    });
    
    {% for shelterCoord in user1 %} // loop through all users
    var marker = new mapboxgl.Marker()
            .setLngLat([{{shelterCoord.longitude}}0 , {{shelterCoord.latitude}}0])
            .addTo(map);
    {% endfor %}
    
    </script>

{% endblock %}
